<a href="https://colab.research.google.com/github/anurupasaha/Beyond-QWERTY/blob/main/OOP_concepts_and_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1. Python Basics**

# Variable declaration

In [ ]:
name = "John"  # String
total_marks = 95  # Integer
average_marks = 78.5  # Float
is_passed = True  # Boolean

# Print types of variables

In [ ]:
print(f"Name: {name}, Type: {type(name)}")
print(f"Total Marks: {total_marks}, Type: {type(total_marks)}")
print(f"Average Marks: {average_marks}, Type: {type(average_marks)}")
print(f"Passed: {is_passed}, Type: {type(is_passed)}")

Name: John, Type: <class 'str'>
Total Marks: 95, Type: <class 'int'>
Average Marks: 78.5, Type: <class 'float'>
Passed: True, Type: <class 'bool'>

# Basic Operations

In [ ]:
x, y = 10, 20
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5

### **2. Control Structures**

# If-Else, Loops, and Functions

In [ ]:
# If-Else
marks = 75
if marks >= 90:
    grade = 'A'
elif marks >= 75:
    grade = 'B'
else:
    grade = 'C'
print(f"Marks: {marks}, Grade: {grade}")

Marks: 75, Grade: B

In [ ]:
# Loops
# For Loop
for i in range(5):
    print(f"Iteration {i}")

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

In [ ]:
# While Loop
counter = 3
while counter > 0:
    print(f"Counter: {counter}")
    counter -= 1

Counter: 3
Counter: 2
Counter: 1

In [ ]:
# Functions
# Defining a function
def greet_user(username):
    return f"Hello, {username}!"

# Calling the function
print(greet_user("Alice"))

Hello, Alice!

##3. Object-Oriented Programming

# Classes, Objects, and Methods

In [ ]:
# Defining a class
class Student:
    def __init__(self, name, roll_number):
        self.name = name
        self.roll_number = roll_number

    def display_details(self):
        return f"Name: {self.name}, Roll Number: {self.roll_number}"

In [ ]:
# Creating objects
student1 = Student("Alice", 101)
student2 = Student("Bob", 102)

In [ ]:
# Accessing methods
print(student1.display_details())
print(student2.display_details())

Name: Alice, Roll Number: 101
Name: Bob, Roll Number: 102

#Inheritance and Polymorphism

In [ ]:
# Inheritance
class Animal:
    def speak(self):
        return "This animal makes a sound."

class Dog(Animal):
    def speak(self):
        return "Woof Woof!"

In [ ]:
# Polymorphism
animals = [Animal(), Dog()]
for animal in animals:
    print(animal.speak())

This animal makes a sound.
Woof Woof!

Inheritance allows a class to use methods and attributes of another class.

In [ ]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Dog barks")

# Example
animal = Animal()
animal.speak()
dog = Dog()
dog.speak()

Animal speaks
Dog barks

Polymorphism allows the same interface to be used for different data types or classes.

In [ ]:
class Shape:
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

# Example
shapes = [Rectangle(10, 5), Circle(7)]
for shape in shapes:
    print("Area:", shape.area())

Area: 50
Area: 153.86

## Encapsulation

Encapsulation is the bundling of data and methods that operate on the data within one unit, typically a class.

In [ ]:
class BankAccount:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        self.__balance += amount

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
        else:
            print("Insufficient funds")

    def get_balance(self):
        return self.__balance

# Example
account = BankAccount("Alice", 1000)
account.deposit(500)
print("Balance:", account.get_balance())

Balance: 1500

# Lists, Tuples, Sets, and Dictionaries

In [ ]:
# List
fruits = ["Apple", "Banana", "Cherry"]
fruits.append("Dragonfruit")  # Add element
print(f"Fruits: {fruits}")

# Tuple
coordinates = (10, 20, 30)  # Immutable sequence
print(f"Coordinates: {coordinates}")

# Set
unique_numbers = {1, 2, 3, 3, 2, 1}  # Unordered collection
print(f"Unique Numbers: {unique_numbers}")

# Dictionary
grades = {"John": 85, "Alice": 92, "Bob": 78}  # Key-value pairs
print(f"Grades: {grades}")

Fruits: ['Apple', 'Banana', 'Cherry', 'Dragonfruit']
Coordinates: (10, 20, 30)
Unique Numbers: {1, 2, 3}
Grades: {'John': 85, 'Alice': 92, 'Bob': 78}

In [ ]:
# List Example
my_list = [1, 2, 3, 4, 5]
print("Initial List:", my_list)
my_list.append(6)
my_list.remove(3)
print("List after append and remove:", my_list)

Initial List: [1, 2, 3, 4, 5]
List after append and remove: [1, 2, 4, 5, 6]

In [ ]:
# Tuple Example
my_tuple = (1, 2, 3, 4, 5)
print("Tuple elements:", my_tuple)
print("Accessing second element:", my_tuple[1])

Tuple elements: (1, 2, 3, 4, 5)
Accessing second element: 2

In [ ]:
# Set Example
my_set = {1, 2, 3, 4, 5}
print("Initial Set:", my_set)
my_set.add(6)
my_set.discard(2)
print("Set after add and discard:", my_set)

Initial Set: {1, 2, 3, 4, 5}
Set after add and discard: {1, 3, 4, 5, 6}

In [ ]:
# Dictionary Example
dictionary = {'a': 1, 'b': 2, 'c': 3}
print("Initial Dictionary:", dictionary)
dictionary['d'] = 4
del dictionary['b']
print("Dictionary after add and delete:", dictionary)

Initial Dictionary: {'a': 1, 'b': 2, 'c': 3}
Dictionary after add and delete: {'a': 1, 'c': 3, 'd': 4}

### List vs Tuple vs Set vs Dictionary

| Feature               | List                   | Tuple                  | Set                    | Dictionary             |
|-----------------------|------------------------|------------------------|------------------------|------------------------|
| **Definition**        | Ordered collection of items | Ordered collection of items | Unordered collection of unique items | Collection of key-value pairs |
| **Mutability**        | Mutable               | Immutable              | Mutable               | Mutable               |
| **Order**             | Ordered               | Ordered               | Unordered             | Ordered (Python 3.7+) |
| **Duplicates Allowed**| Yes                   | Yes                   | No                    | Keys: No, Values: Yes |
| **Indexed Access**    | Yes                   | Yes                   | No                    | Keys only             |
| **Operations**        | Append, Remove, Sort  | Access elements, Concatenate | Add, Remove, Membership Test | Add, Remove, Update, Membership Test |
| **Usage**             | General-purpose collection | Fixed data that should not change | Fast membership tests, mathematical operations | Fast lookups, structured data |
| **Performance**       | Slower than Tuple     | Faster than List      | Optimized for Membership Tests | Optimized for Key-Value Lookups |
| **Memory Usage**      | Higher than Tuple     | Lower than List       | Higher than List/Tuple | Depends on keys and values |
| **When to Use**       | Dynamic collections, frequent modifications | Fixed collections of items | Unique items, membership checks | Key-value mappings, fast retrieval |
| **Syntax**            | `[1, 2, 3]`           | `(1, 2, 3)`           | `{1, 2, 3}`           | `{'key': 'value'}`    |

### Lambda Functions
A short, anonymous function defined with 'lambda'.

**Syntax:**  lambda arguments: *expression*

**Characteristics:**  
   - No name unless assigned to a variable.  
   - Only one expression allowed.

**Uses:**  
   - Quick one-liners.  
   - Works well with `map()`, `filter()`, and `reduce()`.

In [6]:
square = lambda x: x**2
print("Square of 4:", square(4))

Square of 4: 16

In [7]:
add = lambda x, y: x + y
print("Sum of 3 and 5:", add(3, 5))

Sum of 3 and 5: 8

In [8]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", evens)

Even numbers: [2, 4, 6]

In [9]:
doubles = list(map(lambda x: x * 2, numbers))
print("Doubled numbers:", doubles)

Doubled numbers: [2, 4, 6, 8, 10, 12]

**Advantages:**  
   - Simple and concise.  
   - Great for short tasks.  

**Limitations:**  
   - Can't handle multiple expressions.  
   - Hard to read for complex logic.

**When to Use:**  
   For small, quick, and temporary functions.